        <div class="container-justify btns">
                <a href="/" class="link-block"><span class="lead footer">PORTFOLIO</span></a>
            </div>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
        <script src="script.js" type="text/javascript"></script>
    </body>
</html>