<!Doctype html>
<html>
    <head>
        <title>Portfolio</title>

        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
        <!-- Google Font Gugi -->
        <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
        
        <!-- CSS Styling File -->
        <link rel="stylesheet" href="style.css">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        
        <!-- Meta Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Jquery CDN -->
        <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous">
        </script>       
        
        <!-- AOS -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        
    </head>
    <body>
        <div class="header pt-3" data-aos="flip-left" data-aos-duration="2000">
            <div class="container-justify btns">
                <div class="header-btn">
                    <a href="/" class="link-block"><button>Home</button></a>
                    <a href="/projects" class="link-block"><button>Projects</button></a>
                    <a href="https://jsbirdi0001.wordpress.com/" target="_blank" class="link-block"><button>Blog</button></a>
                    <a href="/contact" class="link-block"><button>Contact me</button></a>
                </div>
                <div class="my-auto contact" style="font-family: 'Gugi', cursive">
                    <span class="mx-2 text-white">jsbirdi0001@gmail.com</span> 
                    <span class="mx-2 text-white">+1 437-925-9755</span>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="jumbotron pb-3 text-center col-md-8 col-lg-9" style="background-color: rgba(0,0,0,0)">
                    <div class="text-center head-prime text-white">
                        <h1 class="jumpHead">
                          <span>J</span><span>A</span><span>T</span><span>I</span><span>N</span><span>D</span><span>E</span><span>R</span> &nbsp;&nbsp;<span>S</span><span>I</span><span>N</span><span>G</span><span>H</span></h1>
                        <br>
                    </div>
                    <p class="text-center text-white" style="font-family: 'Gugi',cursive">MEAN Stack | JavaScript | Full Stack Development | Web Design</p>
                    <a href="https://jsbirdi0001.github.io/portfolio/Jatinder Singh.docx" download class="text-center link-block text-white btn btn-dark"> Download Resume</a>
                    <hr class="bg-white w-25">
                    <div class="col-12 text-center" style="margin: 0 auto">
                        <h5 class="text-center head-prime text-white">Connect with me on......</h5>
                        <span class="m-2"><a href="https://www.linkedin.com/in/jsbirdi0001/" target="_blank"><i class="fab fa-linkedin text-white display-4 social"></i></a></span>
                        <span class="m-2"><a href="https://github.com/jsbirdi0001" target="_blank"><i class="fab fa-github text-white display-4 social"></i></a></span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 mt-auto">
                    <img src="https://jsbirdi0001.github.io/portfolio/jatinderSingh.png" alt="Boy" class="img-fluid ">
                </div>
            </div>
        </div>
        