<% include ./partials/header %>
<br>
<div class="container-fluid col-md-9 col-11 px-0" data-aos="fade-up" data-aos-duration="2000">
    <div>
        <h1 class="font-gugi text-center text-primary">S E R V I C E S</h1>
        <hr class="bg-primary w-75 text-center">
        <div class="row col-12">
            <div class="col-md text-center my-2" data-aos="fade-right" data-aos-duration="2000">
                <span><i class="fab fa-sketch display-1 text-warning"></i></span><br>
                <span class="font-gugi lead text-warning">DESIGN</span><br><br>
                <div class="text-dark">
                    HTML5, CSS3, JavaScript, jQuery, Bootstrap, Angular
                </div>
            </div>
            <div class="col-md text-center my-2" data-aos="fade-up" data-aos-duration="2000">
                <span><i class="fas fa-code display-1 text-primary"></i></span><br>
                <span class="font-gugi lead text-primary">DEVELOP</span><br><br>
                <div class="text-dark">
                    MongoDB, Express.js, Node.js, Git, Restful Routing, Oracle SQL
                </div>
            </div>
            <div class="col-md text-center my-2" data-aos="fade-left" data-aos-duration="2000">
                <span><i class="fas fa-tasks display-1 text-danger"></i></span><br>
                <span class="font-gugi lead text-danger">MAINTAIN</span><br><br>
                <div class="text-dark">
                    Security, Storage, Performance, Efficiency (AWS Cloud)
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid px-0" data-aos="fade-up" data-aos-duration="2000">
    <div class="row col-md-9 col-11 px-0 mx-auto" style="margin: 0 auto " >
        <div class="col-md-12" >
            <h1 class="text-center pb-0 pt-3 text-danger font-gugi">A B O U T  &nbsp;M E</h1>
            <hr class="bg-danger w-75 text-center">
        </div>
        <div class="col py-0 my-auto font-weight-bold " >
            
            <p class="pt-2 text-dark" style="font-size:1.2rem">
                <span class="text-center">
                    Dynamic and detail-oriented Web Developer with a knack for conceptualizing and delivering elegant, user-friendly solutions effectively and efficiently. 
                </span>
            
                <ul class="list-skills text-dark" style="font-weight: 200; text-aligh: left; font-size: 1.1rem">
                    <li><strong>Programming Languages: </strong> Java, JavaScript, Typescript, Java (Advanced)</li>
                    <li>
                      <strong>Other Languages: </strong> HTML5, CSS3 (Expert)
                    </li>
                    <li>
                        <strong>Frameworks and tools: </strong> React, jQuery, Bootstrap, Express.js, Node.js (Intermediate)
                    </li>
                    <li>
                        <strong>Database: </strong> MongoDB, SQL Server, MySQL (Intermediate)
                    </li>
                    <li>
                        <strong>Standards: </strong> REST APIs, MVC Architecture, Agile
                    </li>
                    <li>
                        <strong>Others:</strong> Algorithms and Data Structures, Photoshop, GitHub, WordPress, WCAG 2, Microservices, Software Testing
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>
<br>
<div class="container-fluid col-md-9 col-11 px-0" data-aos="fade-up" data-aos-duration="2000">
    <div>
        <h2 class="font-gugi text-center text-success">E D U C A T I O N </h2>
        <hr class="bg-success w-75 text-center">
        <div>
            <div class="col-12 flex btn-lambton py-3  education-field">
                <div>
                    <span class="badge-lg badge-success p-1 my-auto">Jan 2018 - Jan 2020 </span><span class="font-weight-bold lead mx-2 mobile-edu-container">Computer Programmer</span><div class="p-2"> <i>Lambton College in Toronto</i></div>
                </div>
                <div>
                    <span class="btn btn-success ">+</span>
                </div>
            </div>
            <div class="col-12" id="open-lambton" style="display:none">
                
                What I've Learned -
                <ul class="list-skills text-dark" style="font-weight: 200; text-aligh: left; font-size: 1.1rem">
                    <li>
                        Modern web technologies which includes HTML5, CSS3, JavaScript, jQuery and Bootstrap for client-side development of web application
                    </li>
                    <li>
                        Server-side development using MEAN and LAMP Stack
                    </li>
                    <li>
                        Basic understanding of Java EE and C# for creating dynamic web pages
                    </li>
                    <li>
                        Mobile app development using Xamarin and C#
                    </li>
                </ul>
            </div>
        </div>
        
        
        <div>
            <div class="col-12 flex btn-udemy py-3  education-field">
                <div>
                    <span class="badge-lg badge-success p-1 my-auto">Aug 2018 - Jan 2019 </span><span class="font-weight-bold lead mx-2 mobile-edu-container">Web Developer Masterclass</span><div class="p-2"> <i>Udemy Online Academy</i></div>
                </div>
                <div>
                    <span class="btn btn-success ">+</span>
                </div>
            </div>
            <div class="col-12" id="open-udemy" style="display:none">
                
                What I've Learned -
                <ul class="list-skills text-dark" style="font-weight: 200; text-aligh: left; font-size: 1.1rem">
                    <li>
                        Make REAL web applications using cutting-edge technologies
                    </li>
                    <li>
                        Use Express and MongoDB to create full-stack JS applications
                    </li>
                    <li>
                        Write complex web apps with multiple models and data associations
                    </li>
                    <li>
                        Manipulate the DOM with vanilla JS and jQuery
                    </li>
                    <li>
                        Use JavaScript variables, conditionals, loops, functions, arrays, and objects
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>
<br>

<div class="container-fluid col-md-9 col-11 px-0" data-aos="fade-up" data-aos-duration="2000">
    <div>
        <h2 class="font-gugi text-center text-primary">E X P E R I E N C E</h2>
        <hr class="bg-success w-75 text-center">
        <div>
            <div class="col-12 flex btn-tutor py-3  education-field">
                <div>
                    <span class="badge-lg badge-primary p-1 my-auto">Dec 2018 - Aug 2019 </span><span class="font-weight-bold lead mx-2 mobile-edu-container">Assistant Tutor</span><div class="p-2"> <i>Lambton College in Toronto</i></div>
                </div>
                <div>
                    <span class="btn btn-primary ">+</span>
                </div>
            </div>
            <div class="col-12" id="open-tutor" style="display:none">
                
                About Experience -
                <ul class="list-skills text-dark" style="font-weight: 200; text-aligh: left; font-size: 1.1rem">
                    <li>
                        Have gotten strong base of Web Development technologies by teaching and working with various projects
                    </li>
                    <li>
                       Helped students finalize various projects
                    </li>
                    <li>
                        Developed strong interpersonal skills in working with students to help them achieve and succeed
                    </li>
                    <li>
                        Succeeded in helping students raise their knowledge of programming world
                    </li>
                </ul>
            </div>
        </div>
        
        
        <div>
            <div class="col-12 flex btn-asg py-3  education-field">
                <div>
                    <span class="badge-lg badge-primary p-1 my-auto">Aug 2018 - Mar 2019 </span><span class="font-weight-bold lead mx-2 mobile-edu-container ">Security Guard</span><div class="p-2"> <i>ASG Security</i></div>
                </div>
                <div>
                    <span class="btn btn-primary ">+</span>
                </div>
            </div>
            <div class="col-12" id="open-asg" style="display:none">
                
                What I've gained -
                <ul class="list-skills text-dark" style="font-weight: 200; text-aligh: left; font-size: 1.1rem">
                    <li>
                        Strong Communication and Leadership skills
                    </li>
                    <li>
                        Able to work under pressure
                    </li>
                    <li>
                        Able to follow the instructions and standards
                    </li>
                </ul>
            </div>
        </div>
        
        <div>
            <div class="col-12 flex btn-full py-3  education-field">
                <div>
                    <span class="badge-lg badge-primary p-1 my-auto">Apr 2016 - Mar 2017 </span><span class="font-weight-bold lead mx-2 mobile-edu-container ">Full Stack Developer</span><div class="p-2"> <i>ASG Security</i></div>
                </div>
                <div>
                    <span class="btn btn-primary ">+</span>
                </div>
            </div>
            <div class="col-12" id="open-full" style="display:none">
                
                What I've gained -
                <ul class="list-skills text-dark" style="font-weight: 200; text-aligh: left; font-size: 1.1rem">
                    <li>
                       Engaged with SDLC (Software Development Life Cycle)
                    </li>
                    <li>
                        Worked with AWS Cloud9 for Integrated Development Environment (IDE).
                    </li>
                    <li>
                        Designed database in MongoDB and deployed on Heroku Server.
                    </li>
                    <li>
                        Worked in an agile environment for product releases and development
                    </li>
                    <li>
                        Worked with team members to produce creative, efficient solutions
                    </li>
                </ul>
            </div>
        </div>
        
        
        
    </div>
</div>

<script type="text/javascript">
    $(".btn-lambton").on("click",function(){
        $("#open-lambton").slideToggle();
    });
    $(".btn-udemy").on("click",function(){
        $("#open-udemy").slideToggle();
    });
    $(".btn-tutor").on("click",function(){
        $("#open-tutor").slideToggle();
    });
    $(".btn-asg").on("click",function(){
        $("#open-asg").slideToggle();
    });
    $(".btn-full").on("click",function(){
        $("#open-full").slideToggle();
    });
</script>
<% include ./partials/footer %>