<% include ./partials/header %>
<br>
<div class='alert alert-success'>
    <h1 class="text-center">Mail Has been Sent</h1>
</div>
<div>
    <a href="/" class="link-block"><button class="btn btn-dark">Go Back</button></a>
</div>

<% include ./partials/footer %>