<% include ./partials/header %>
<br>

<div class="container-fluid col-10 mx-auto p-0" style="margin: 0 auto">
    <div data-aos="zoom-out-down" data-aos-duration="2000">
        <h1 class="font-gugi text-center">P R O J E C T S</h1>
        <hr class="text-center bg-dark w-75">
    </div>
    
    <div class="row col-12 text-center">
        <div class="col-md-7">
            <img src="https://i.ibb.co/Kh3P0tG/ggsautogroup.png" alt="GGS AutoCollision" class="img-fluid">
        </div>
        <div class="col-md-5" style="margin:auto auto">
            <h1>GGS AutoCollision</h1>
            <p class="text-center"><strong>Stack: JavaScript, jQuery, Node.js, Express.js, MongoDB, Bootstrap</strong>
                <br><br>
                <strong>Description:</strong>
                An application built for Automobile company which represents their company. The main functionality of application is to book an appointment
                through this application. <br> <br>
                <a href="http://www.ggsautogroup.com" target="_blank"><button class="btn btn-warning">Visit Application</button></a>
            </p>
        </div>
    </div>
    <br><br>
    
    <div class="row col-12 text-center">
        <div class="col-md-5" style="margin:auto auto">
            <h1>Bath Trends</h1>
            <p class="text-center"><strong>Stack: JavaScript, jQuery, Node.js, Express.js, MongoDB, Bootstrap</strong>
                <br><br>
                <strong>Description:</strong>
                An application built for Renovation company which represents their company. It includes the contact information, past projects undertaken and testimonial
                of the comapny<br> <br>
                <a href="http://bath-trends.herokuapp.com" target="_blank"><button class="btn btn-warning">Visit Application</button></a>
            </p>
        </div>
        <div class="col-md-7">
            <img src="https://i.ibb.co/Z8XXLN0/bath-Trends.png" alt="GGS AutoCollision" class="img-fluid">
        </div>
    </div>
        
    
    <br><br>
    
    <div class="row col-12 text-center">
        <div class="col-md-7">
            <img src="https://i.ibb.co/6mNTQvd/informa.png" alt="GGS AutoCollision" class="img-fluid">
        </div>
        <div class="col-md-5" style="margin:auto auto">
            <h1>Informa</h1>
            <p class="text-center"><strong>Stack: EJS, Vanilla JavaScript, jQuery, Node.js, CSS, Express.js, MongoDB, Bootstrap</strong>
                <br><br>
                <strong>Description:</strong>
                An application built for education purpose. It includes the User Authentication. Students could sell or buy second hand books from this website. <br> <br>
                <a href="http://www.ggsautogroup.com" target="_blank"><button class="btn btn-warning">Visit Application</button></a>
            </p>
        </div>
    </div>
    <br><br>
    
    <div class="row col-12 text-center">
        <div class="col-md-5" style="margin:auto auto">
            <h1>Portfolio</h1>
            <p class="text-center"><strong>Stack: JavaScript, jQuery, Node.js, Express.js, MongoDB, Bootstrap</strong>
                <br><br>
                <strong>Description:</strong>
                An application built for Automobile company which represents their company. The main functionality of application is to book an appointment
                through this application. <br> <br>
                <a href="http://www.jatinderbirdi.com/" target="_blank"><button class="btn btn-warning">Visit Application</button></a>
            </p>
        </div>
        <div class="col-md-7">
            <img src="https://i.ibb.co/crd8hF0/jatinderbirdi.png" alt="GGS AutoCollision" class="img-fluid">
        </div>
    </div>
    
        <div class="row col-12 m-0 p-0">
        <div class="col-md-12 col-12 p-0" id="informa" data-aos="fade-up" data-aos-duration="2000">
            <a href="https://jsinforma.herokuapp.com/" target="_blank" class="link-block project">
                <div class="m-2 border project-shadow">
                    <div>
                        <h3 class="font-gugi lead text-center p-2 m-0 bg-gradient text-light">INFORMA</h3>
                    </div>
                    <div style="" class="image-scroll image-scroll-lg">
                        <img src="https://i.ibb.co/pJRYYpf/screencapture-jsinforma-herokuapp-2019-11-26-16-11-51.png">
                    </div>
                    <div class="text-center p-md-3 py-3">
                        <p class="small px-3">Personal Project - E-commerce website for books using MEAN Stack</p>
                        <a href="https://jsinforma.herokuapp.com/" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Project</button></a>
                        <a href="https://github.com/jsbirdi0001/informa" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Github</button></a>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-md-4 col-12 p-0" data-aos="fade-down" data-aos-duration="2000">
            <a href="https://jsbirdi0001.github.io/blog/" target="_blank" class="link-block project">
                <div class="m-2 border project-shadow">
                    <div>
                        <h3 class="font-gugi lead text-center p-2 m-0 bg-gradient text-light">PHOTO STOCK</h3>
                    </div>
                    <div class="image-scroll image-scroll-back">
                        <img src="https://i.ibb.co/W3fVc3c/screencapture-jsbirdi0001-github-io-blog-2019-11-25-12-26-05.png">
                    </div>
                    <div class="text-center p-md-3 py-3">
                        <p class="small px-3">E-commerce website for photo's retailing using Front End Technologies </p>
                        <a href="https://jsbirdi0001.github.io/blog/" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Project</button></a>
                        <a href="https://github.com/jsbirdi0001/blog" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Github</button></a>
                    </div>
                </div>
            </a>
        </div>
        
         <div class="col-md-4 col-12 p-0" data-aos="fade-up" data-aos-duration="2000">
            <a href="https://jsbirdi0001.wordpress.com/" target="_blank" class="link-block project">
                <div class="m-2 border project-shadow">
                    <div>
                        <h3 class="font-gugi lead text-center p-2 m-0 bg-gradient text-light">TECH BLOG</h3>
                    </div>
                    <div class="image-scroll">
                        <img src="https://i.ibb.co/q51GJnX/screencapture-jsbirdi0001-wordpress-2019-11-25-12-30-11.png">
                    </div>
                    <div class="text-center p-md-3 py-3">
                        <p class="small px-3">Personal Blog - Development of tech blog by posting latest tech news, tools and inventions </p>
                        <a href="https://jsbirdi0001.wordpress.com/" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Blog</button></a>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-md-4 col-12 p-0" data-aos="fade-down" data-aos-duration="2000">
            <a href="https://www.slideshare.net/JatinderSingh372/database-project-93879514" target="_blank" class="link-block project">
                <div class="m-2 border project-shadow">
                    <div>
                        <h3 class="font-gugi lead text-center p-2 m-0 bg-gradient text-light">SQL PROJECT</h3>
                    </div>
                    <div>
                        <img src="https://jsbirdi0001.github.io/portfolio/databaseDesign.PNG" class="img-fluid">
                    </div>
                    <div class="text-center p-md-3 py-3">
                        <p class="small px-3">Created SQL Database design by collecting requirement. It includes the normalization and physical database. </p>
                        <a href="https://www.slideshare.net/JatinderSingh372/database-project-93879514" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Project</button></a>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-md-4 col-12 p-0" data-aos="fade-up" data-aos-duration="2000">
            <a href="https://github.com/jsbirdi0001/Employment-Application" target="_blank" class="link-block project">
                <div class="m-2 border project-shadow">
                    <div>
                        <h3 class="font-gugi lead text-center p-2 m-0 bg-gradient text-light">EMPLOYMENT APP</h3>
                    </div>
                    <div>
                        <img src="https://jsbirdi0001.github.io/portfolio/employmentApplication.png" class="img-fluid">
                    </div>
                    <div class="text-center p-md-3 py-3">
                        <p class="small px-3">Created Android application by using Xamarin and C# for designing and event handling</p>
                        <a href="https://github.com/jsbirdi0001/Employment-Application" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Github</button></a>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-md-4 col-12 p-0" data-aos="fade-down" data-aos-duration="2000">
            <a href="https://github.com/jsbirdi0001/informaSchool" target="_blank" class="link-block project">
                <div class="m-2 border project-shadow">
                    <div>
                        <h3 class="font-gugi lead text-center p-2 m-0 bg-gradient text-light">INFORMA SCHOOL</h3>
                    </div>
                    <div class="image-scroll image-scroll-back">
                        <img src="https://i.ibb.co/5Wnf55r/screencapture-jsbirdi0001-github-io-informa-School-2019-11-25-12-43-42.png">
                    </div>
                    <div class="text-center p-md-3 py-3">
                        <p class="small px-3">UI/UX Development of School Website</p>
                        <a href="https://jsbirdi0001.github.io/informaSchool" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Project</button></a>
                        <a href="https://github.com/jsbirdi0001/informaSchool" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Github</button></a>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-md-4 col-12 p-0" data-aos="fade-down" data-aos-duration="2000">
            <a href="https://github.com/jsbirdi0001/Employment-Application" target="_blank" class="link-block project">
                <div class="m-2 border project-shadow">
                    <div>
                        <h3 class="font-gugi lead text-center p-2 m-0 bg-gradient text-light">BUSINESS CARD</h3>
                    </div>
                    <div>
                        <img src="https://jsbirdi0001.github.io/portfolio/Untitled.png" class="img-fluid">
                    </div>
                    <div class="text-center p-md-3 py-3">
                        <p class="small px-3">Created animated business card using JavaScript and it's frameworks</p>
                        <a href="https://github.com/jsbirdi0001/businessCard" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Github</button></a>
                    </div>
                </div>
            </a>
        </div>
        
</div>


<% include ./partials/footer %>
