<% include ./partials/header %>
<br>
<div class="container-fluid col-md-9 col-11 p-0" style="margin: 0 auto">
    <div data-aos="zoom-out-down" data-aos-duration="2000">
        <h1 class="font-gugi text-center">P R O J E C T S</h1>
        <hr class="text-center bg-dark w-75">
    </div>
    <div class="row col-12 m-0 p-0">
        <div class="col-md-4 col-6 p-0" data-aos="fade-up" data-aos-duration="2000">
            <a href="https://jsinforma.herokuapp.com/" target="_blank" class="link-block project">
                <div class="m-2 border project-shadow">
                    <div>
                        <h3 class="font-gugi lead text-center p-2 m-0 bg-gradient text-light">INFORMA</h3>
                    </div>
                    <div>
                        <img src="https://jsbirdi0001.github.io/portfolio/informa.png" class="img-fluid">
                    </div>
                    <div class="text-center p-md-3 py-3">
                        <p class="small px-3">Personal Project - E-commerce website for books using MEAN Stack</p>
                        <a href="https://jsinforma.herokuapp.com/" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Project</button></a>
                        <a href="https://github.com/jsbirdi0001/informa" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Github</button></a>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-md-4 col-6 p-0" data-aos="fade-down" data-aos-duration="2000">
            <a href="https://jsbirdi0001.github.io/blog/" target="_blank" class="link-block project">
                <div class="m-2 border project-shadow">
                    <div>
                        <h3 class="font-gugi lead text-center p-2 m-0 bg-gradient text-light">PHOTO STOCK</h3>
                    </div>
                    <div>
                        <img src="https://jsbirdi0001.github.io/portfolio/photoBlog.png" class="img-fluid">
                    </div>
                    <div class="text-center p-md-3 py-3">
                        <p class="small px-3">E-commerce website for photo's retailing using Front End Technologies </p>
                        <a href="https://jsbirdi0001.github.io/blog/" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Project</button></a>
                        <a href="https://github.com/jsbirdi0001/blog" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Github</button></a>
                    </div>
                </div>
            </a>
        </div>
        
         <div class="col-md-4 col-6 p-0" data-aos="fade-up" data-aos-duration="2000">
            <a href="https://jsbirdi0001.wordpress.com/" target="_blank" class="link-block project">
                <div class="m-2 border project-shadow">
                    <div>
                        <h3 class="font-gugi lead text-center p-2 m-0 bg-gradient text-light">TECH BLOG</h3>
                    </div>
                    <div>
                        <img src="https://jsbirdi0001.github.io/portfolio/wordpressBlog.png" class="img-fluid">
                    </div>
                    <div class="text-center p-md-3 py-3">
                        <p class="small px-3">Personal Blog - Development of tech blog by posting latest tech news, tools and inventions </p>
                        <a href="https://jsbirdi0001.wordpress.com/" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Blog</button></a>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-md-4 col-6 p-0" data-aos="fade-down" data-aos-duration="2000">
            <a href="https://www.slideshare.net/JatinderSingh372/database-project-93879514" target="_blank" class="link-block project">
                <div class="m-2 border project-shadow">
                    <div>
                        <h3 class="font-gugi lead text-center p-2 m-0 bg-gradient text-light">SQL PROJECT</h3>
                    </div>
                    <div>
                        <img src="https://jsbirdi0001.github.io/portfolio/databaseDesign.PNG" class="img-fluid">
                    </div>
                    <div class="text-center p-md-3 py-3">
                        <p class="small px-3">Created SQL Database design by collecting requirement. It includes the normalization and physical database. </p>
                        <a href="https://www.slideshare.net/JatinderSingh372/database-project-93879514" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Project</button></a>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-md-4 col-6 p-0" data-aos="fade-up" data-aos-duration="2000">
            <a href="https://github.com/jsbirdi0001/Employment-Application" target="_blank" class="link-block project">
                <div class="m-2 border project-shadow">
                    <div>
                        <h3 class="font-gugi lead text-center p-2 m-0 bg-gradient text-light">EMPLOYMENT APP</h3>
                    </div>
                    <div>
                        <img src="https://jsbirdi0001.github.io/portfolio/employmentApplication.png" class="img-fluid">
                    </div>
                    <div class="text-center p-md-3 py-3">
                        <p class="small px-3">Created Android application by using Xamarin and C# for designing and event handling</p>
                        <a href="https://github.com/jsbirdi0001/Employment-Application" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Github</button></a>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-md-4 col-6 p-0" data-aos="fade-down" data-aos-duration="2000">
            <a href="https://github.com/jsbirdi0001/Employment-Application" target="_blank" class="link-block project">
                <div class="m-2 border project-shadow">
                    <div>
                        <h3 class="font-gugi lead text-center p-2 m-0 bg-gradient text-light">BUSINESS CARD</h3>
                    </div>
                    <div>
                        <img src="https://jsbirdi0001.github.io/portfolio/Untitled.png" class="img-fluid">
                    </div>
                    <div class="text-center p-md-3 py-3">
                        <p class="small px-3">Created animated business card using JavaScript and it's frameworks</p>
                        <a href="https://github.com/jsbirdi0001/businessCard" target="_blank" class="link-block-black small"><button class="btn btn-sm btn-outline-dark my-1 p-1 link-block-black">Open Github</button></a>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<% include ./partials/footer %>
